
/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Element styles */

img:hover{
  opacity: .7;
  -moz-box-shadow:    2px -1px 12px 0px #000;
  -webkit-box-shadow: 2px -1px 12px 0px #000;
  box-shadow:         2px -1px 12px 0px #000;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {}

h2 {}

h3 {}

a{
  color: orange;
  text-decoration: none;
}

a:hover{
  color: violet;
}

/* ---- layout ---- */

.page-header{
  background: #000;
  color: white;
}

.main-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

.container {
  margin: 0 20px;
  max-width: 960px;
  border: 1px solid black;
}

section {
  margin-bottom: 20px;
  padding-top: 20px;
}
section:nth-of-type(even){
  background: #ececec;
}

/* ---- components ---- */

.page-header a{
  color: white;
}

.page-header a:hover{
  color: aqua;
}


/* ---- header ---- */
.page-header h1{
  font-size: 1em;
}

/* ---- section ---- */

.inline-list li{
  display: inline-block;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .page-header{
    background: greenyellow;
  }
  .portfolio-list li{
    width: 50%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container{
    margin: 0 auto;
  }
  .page-header h1{
    font-size: 3em;
  }
  .portfolio-list li{
    width: 25%;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
